<div style="text-align: center;">
    <label>Subject*</label><br>
    <input type="text" name="" id=""><br>
    <label for="dropdown">Support Type*</label><br>
    <select id="dropdown" [(ngModel)]="selectedOption" (change)="updateInputField(selectedOption)">
      <option value="">--Select--</option>
      <option value="Option1">Optimization support</option>
      <option value="Option2">IM Sponsor Onboarding</option>
      <option value="Option3">Client Sponsor Onboarding</option>
      <option value="Option4">NetSuite/PVG Legacy</option>
      <option value="Option5">Active Implementation</option>
      <option value="Option6">Consero Employee Matters</option>
      <option value="Option7">Consero Accounting Matters</option>
      <option value="Option8">Demo-Software</option>
      <option value="option9">GAAP</option>
      <option value="option10">Quote/Scoping/Pricing</option>
      <option value="option11">Reporting</option>
      <option value="option12">Tech-Hardware And Software</option>
    </select>
    <br>
    <div *ngIf="selectedOption === 'Option1'">
        <label>Client ID Concat*</label><br>
      <select name="" id="">
        <option value="">--Select--</option>
        <option value="">% Turner, Stone & Company, LLP (C0154)</option>
        <option value="">1-Valet (C0202)</option>
        <option value="">5 Star Nutrition (C0001)</option>
        <option value="">9am.health (C0258)</option>
        <option value="">Acendre (C0002)</option>
        <option value="">Acrew (C0487)</option>
        <option value="">Action PM (C0501)</option>
        <option value="">Adapt Medical Professional Services (C0429)</option>
        <option value="">Advanced Care Alliance (C0338)</option>
        <option value="">Advanced Care Partners (C0443)</option>
        <option value="">Aesthetic Physicians (C0003)</option>
        <option value="">AffiniPay (C0004)</option>
        <option value="">AiCure (C0508)</option>
        <option value="">AirFind (C0005)</option>
        <option value="">Airiam (C0162)</option>
        <option value="">Algo (C0006)</option>
        <option value="">Ali Forney Center (C0468)</option>
        <option value="">All Our Kin (C0485)</option>
        <option value="">All Traffic Data Services (C0216)</option>
        <option value="">Allbound (C0287)</option>
        <option value="">Alliant International University (C0007)</option>
        <option value="">Allied Consultants (C0008)</option>
        <option value="">AllPaid (C0482)</option>
        <option value="">Ally Medical (C0144)</option>
        <option value="">ALPFA (C0009)</option>
        <option value="">Alpha II (C0412)</option>
        <option value="">Alta Pest Control (C0478)</option>
        <option value="">Alto Pharmacy (C0010)</option>
        <option value="">American Friends of the UK Clock Tower (C0339)</option>
        <option value="">American Theatre Wing (C0340)</option>
        <option value="">AMF Foods (C0011)</option>
        <option value="">Anthony Barnum Public Relations (C0012)</option>
        <option value="">Anthos Home Inc. (C0341)</option>
        <option value="">ArchLynk (C0283)</option>
        <option value="">Arden Media (C0015)</option>
        <option value="">ARInsights (C0016)</option>
        <option value="">ArtLogic (C0206)</option>
        <option value="">Ascend Technologies (C0457)</option>
        <option value="">Aspire Marketing Services (C0017)</option>
        <option value="">Assist Services Online (C0198)</option>
        <option value="">AssuriCare (C0018)</option>
        <option value="">Atlas RFID (C0019)</option>
        <option value="">Atmosphere (C0455)</option>
        <option value="">ATSI (C0013)</option>
        <option value="">Audubon (C0020)</option>
        <option value="">Austin Technology Council (C0021)</option>
        <option value="">Automotive Titling Company (C0022)</option>
        <option value="">Aventri (C0023)</option>
        <option value="">Base10 Partners Management (C0163)</option>
        <option value="">Bbot (C0161)</option>
        <option value="">Beacon (C0472)</option>
        <option value="">Bedford Playhouse (C0342)</option>
        <option value="">Berkeleyside (Cityside) (C0343)</option>
        <option value="">BetterHealthcare (C0241)</option>
        <option value="">Big Commerce (C0025)</option>
        <option value="">BigScoots (C0335)</option>
        <option value="">Bipsync (C0026)</option>
        <option value="">Bloomfire (C0027)</option>
        <option value="">Bond Capital Management (C0164)</option>
        <option value="">Boundless Network (C0029)</option>
        <option value="">Boundless Rider (C0240)</option>
        <option value="">BrainCheck (C0245)</option>
        <option value="">Brains and Motion Education (C0495)</option>
        <option value="">Brandon Miller Group (C0030)</option>
        <option value="">Brick & Mortar Ventures (C0278)</option>
        <option value="">Broadway Technology (C0031)</option>
        <option value="">Bronx Parents Housing Network (BPHN) (C0344)</option>
        <option value="">Brooklyn Center for Families in Crisis (C0345)</option>
        <option value="">Brooklyn Community Services (C0346)</option>
        <option value="">Brooklyn Health Home (C0347)</option>
        <option value="">BryteBridge (C0506)</option>
        <option value="">BTN Ventures (C0300)</option>
        <option value="">BTQ Financial (C0032)</option>
        <option value="">Bundle (C0238)</option>
        <option value="">BW Events (C0276)</option>
        <option value="">Cabling Ottawa (C0312)</option>
        <option value="">Call The Car (C0407)</option>
        <option value="">Camp Gladiator (C0268)</option>
        <option value="">Canada StableCorp Inc. (C0313)</option>
        <option value="">Canal Road Group (C0403)</option>
        <option value="">Cantata Health (C0218)</option>
        <option value="">Capital Markets Gateway (C0237)</option>
        <option value="">Capstone (C0248)</option>
        <option value="">Carbon Marine (C0333)</option>
        <option value="">Carrick Capital Partners (C0256)</option>
        <option value="">Carronade Capital (C0267)</option>
        <option value="">Cascade Training (C0450)</option>
        <option value="">Catalyst Care Connect - Network Accounting (C0448)</option>
        <option value="">Catalyst Care Connect - Physician Accounting (C0449)</option>
        <option value="">Catalyst MSO (C0124)</option>
        <option value="">Catholic Homes New York (C0430)</option>
        <option value="">Center for Family Life (C0348)</option>
        <option value="">Center for New York City Neighborhoods / Sustainable Neighborhoods LLC(C0349)</option>
        <option value="">Certa (C0355)</option>
        <option value="">Certain (C0034)</option>
        <option value="">CFM (C0217)</option>
        <option value="">Cforia (C0035)</option>
        <option value="">CHHUNY (C0473)</option>
        <option value="">Children's Community Services (C0425)</option>
        <option value="">CINQ/Greater Buffalo United Affordable Health Care Network (C0350)</option>
        <option value="">Cira Apps Limited (C0480)</option>
        <option value="">Cirrus Insight (C0036)</option>
        <option value="">ClearGage (C0037)</option>
        <option value="">Clearspan (C0038)</option>
        <option value="">CMG (Capital Markets Gateway) (C0308)</option>
        <option value="">Coalition for Hispanic Children and Families (C0351)</option>
        <option value="">CoLab (C0314)</option>
        <option value="">Collective Technologies (C0039)</option>
        <option value="">Commonwealth Resources (C0264)</option>
        <option value="">Community Access (00352)</option>
        <option value="">Community Care Management Program (C0353)</option>
        <option value="">Compeat (C0040)</option>
        <option value="">Configure One (C0041)</option>
        <option value="">Consero (C0305)</option>
        <option value="">Convey (C0042)</option>
        <option value="">Corrum Capital (C0167)</option>
        <option value="">Cosmo's Superior Foods LLC (C0483)</option>
        <option value="">Council for Economic Education (C0354)</option>
        <option value="">Council for Family and Child Caring Agencies, Inc. (C0431)</option>
        <option value="">Cratejoy (C0043)</option>
        <option value="">Crestline Hotels & Resorts (C0463)</option>
        <option value="">Da Vinci Unified (C0491)</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
        <option value="">option1</option>
      </select><br>
      <label> Current ARR (Last Invoice)*</label><br>
      <input type="text" name="" id="" placeholder="**ARR must be > $250K, or requires pre-approval from VP-CS"><br>
      <label>Primary Accounting Lead*</label><br>
      <input type="text" name="" id=""><br>
      <label>Current Business Day Clos</label><br>
      <input type="text" name="" id="">
    </div>
  
    <div *ngIf="selectedOption === 'Option2'">
      <label for="input2">Input for Option 2:</label>
      <input type="number" id="input2" [(ngModel)]="inputValue" placeholder="Enter number for Option 2">
    </div>
  
    <div *ngIf="selectedOption === 'Option3'">
      <label for="input3">Input for Option 3:</label>
      <input type="date" id="input3" [(ngModel)]="inputValue" placeholder="Pick a date for Option 3">
    </div>

    <div *ngIf="selectedOption === 'Option4'">
        <label for="input4">Input for Option 3:</label>
        <input type="date" id="input3" [(ngModel)]="inputValue" placeholder="Pick a date for Option 3">
      </div>
  
    <div *ngIf="!selectedOption">
      <p>Please select an option to see the input fields.</p>
    </div>


  <label for="">Quote Client PRE-Approved</label><br>
    <select id="dropdown1">
        <option value="">--Select--</option>
        <option value="option1">yes</option>
        <option value="option2">Approval Pending</option>
    </select><br>

    <label for="">Requestor E-mail*</label><br>
    <select name="" id="">
      <option value="">--Select--</option>
      <option value="">Aaron Odle (aaron@conseroglobal.com)</option>
        <option value="">Abhinav Tripathi (abhinav.tripathi@conseroglobal.com)</option>
        <option value="">Abhishek Jain (abhishek.jain@conseroglobal.com)</option>
        <option value="">Abhishek Sharma (abhishek.sharma@conseroglobal.com)</option>
        <option value="">Adam Schwab (adam.schwab@conseroglobal.com)</option>
        <option value="">Adam Weisz (adam@conseroglobal.com)</option>
        <option value="">Adria Jeremy (adria.jeremy@conseroglobal.com)</option>
        <option value="">aishwarya.sathyamurthy@conseroglobal.com</option>
        <option value="">ajay.hirawat@conseroglobal.com</option>
        <option value="">Akash Singhi (akash.singhi@conseroglobal.com)</option>
        <option value="">Akshay Bachu (akshay.bachu@conseroglobal.com)</option>
        <option value="">Akshay Borundia (akshay.borundia@conseroglobal.com)</option>
    </select>
<br>
    <label for="">CC E-mail(s)</label><br>
    <select name="" id="">
      <option value="">--Select--</option>
      <option value="">Aaron Odle (aaron@conseroglobal.com)</option>
        <option value="">Abhinav Tripathi (abhinav.tripathi@conseroglobal.com)</option>
        <option value="">Abhishek Jain (abhishek.jain@conseroglobal.com)</option>
        <option value="">Abhishek Sharma (abhishek.sharma@conseroglobal.com)</option>
        <option value="">Adam Schwab (adam.schwab@conseroglobal.com)</option>
        <option value="">Adam Weisz (adam@conseroglobal.com)</option>
        <option value="">Adria Jeremy (adria.jeremy@conseroglobal.com)</option>
        <option value="">aishwarya.sathyamurthy@conseroglobal.com</option>
        <option value="">ajay.hirawat@conseroglobal.com</option>
        <option value="">Akash Singhi (akash.singhi@conseroglobal.com)</option>
        <option value="">Akshay Bachu (akshay.bachu@conseroglobal.com)</option>
        <option value="">Akshay Borundia (akshay.borundia@conseroglobal.com)</option>
    </select><br>

    <label for="">Request* <br>
      Include all identifying information and detail to action the request</label><br>
      <label style="color: brown;">DO NOT INCLUDE SALARY INFORMATION.</label><br>
      
    <label for="">Attach relevant files below.</label><br>
    <input type="file" name="" id=""><br><br>
    <button type="submit">Submit</button>
  </div>
  