<section class="about-section" >
    <h1>ABOUT CONSERO GLOBAL</h1>
    <p style="font-weight: 400;" >We are pioneers of the Finance as a Service (FaaS) category. Our model combines cutting edge technology, processes, and people in a fully-managed solution to deliver precise financial visibility and improved operational scalability, plus a lower and more predictable cost structure.</p>
    <p style="font-weight: 400;" >At Consero Global, we are disrupting the way companies set up and scale their finance department.</p>
    <a href="https://conseroglobal.com/about/" target="_blank" class="learn-more">Learn More About Consero</a>
</section>
