
<div class="container"  style="font-weight: bold;" id="linkssection">
  <div class="row">
    <div class="Internet" >
      <h4 style="color: #00A3E0; ">Useful Links</h4>
      <ul class="list-unstyled" >
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu1', true)" (mouseleave)="toggleSubmenu('submenu1', false)">
          <a class="dropdown-item" href="#">Consero General Quick Link &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu1']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Internet &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://conseroglobal.com/" target="_blank">Consero Global</a></li>
                <li><a class="dropdown-item" href="https://clientlogin.conseroglobal.com/" target="_blank">SIMPL</a></li>
                <li><a class="dropdown-item" href="https://system.nexonia.com/assistant/showSignin" target="_blank">Nexonia T&E</a></li>
                <li><a class="dropdown-item" href="https://hello.chorus.ai/login?next=http:%2F%2Fchorus.ai%2Fdashboard" target="_blank">Chorus</a></li>
                <li><a class="dropdown-item" href="https://login.salesforce.com/" target="_blank">Sales Force</a></li>
                <li><a class="dropdown-item" href="https://conseroglobal.ceosoftware.co/v2#/login" target="_blank">Khorus</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#" target="_blank">G-Drive &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://drive.google.com/drive/my-drive" target="_blank">G-Drive</a></li>
              </ul>
            </li>
          </ul>
        </li>
           <!-- Delivery -->
           <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Delivery &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://conseroglobal.us2.blackline.com/Login/Login.aspx?ReturnUrl=%2f" target="_blank">Blackline</a></li>
                  <li><a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1hhZ93TECAqbotTTjST9a-T0GL0ppEw2Z7wLoIWV7nwI/edit#gid=1660578807" target="_blank">Client Success Survey</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/u/0/folders/1BcRktoQu9NPv68qFf0LxTWwS0NwHoqfX" target="_blank">Monthly KPIs</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/u/0/folders/1viLwNM3pS_KVKbtlfLMHgnZmucVqmKUY" target="_blank">Overage Billings</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/folders/1TlqBE4hIAC6EKfvri4Nu6XXiKQ7YXDRc" target="_blank">SOC reports-Consero</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/u/0/folders/1tzwsoqAlEXrbfhOf7qNT7dzlVzXkv3AU" target="_blank">SOC Reports-Client Tools</a></li>
                  <li><a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1E0IviJKBNrttiEdxya_7W5cltb7RlQOeJNaA4ZrKeXk/edit?gid=0#gid=0" target="_blank">Standards/Policies/Procedures</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/folders/1cDeZGW3SbWIxLnyp8b2lfMVVFsURzQz3" target="_blank">Tech Accounting Documentation</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/folders/1cDeZGW3SbWIxLnyp8b2lfMVVFsURzQz3" target="_blank">VPF Budget Calculator</a></li>
                </ul>
              </li>
            </ul>
          </li>
      
          <!-- Professional Service Group -->

          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Professional Service Group &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://developer.bill.com/" target="_blank">Bill.com API Site</a></li>
                  <li><a class="dropdown-item" href="https://developer.intacct.com/api/" target="_blank">Intact API Site</a></li>
                  <li><a class="dropdown-item" href="https://marketplace.intacct.com/" target="_blank">Intact Market Place</a></li>
                  <li><a class="dropdown-item" href="https://hello.chorus.ai/listen?guid=1449eb2bff9c47caa4b00465ff4b667a" target="_blank">Training1: One view Navigating Power BI</a></li>
                  <li><a class="dropdown-item" href="https://hello.chorus.ai/listen?guid=be72fc181bfb4b1eaf057da3f3b8a37a" target="_blank">Training2:One View Report Content</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1E0IviJKBNrttiEdxya_7W5cltb7RlQOeJNaA4ZrKeXk/edit?gid=0#gid=0" target="_blank">G-Drive File Index</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- Human Resources -->

          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Human Resources &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://identity.trinet.com/login/login.htm?message=IdletimedOut_ui-home" target="_blank">TriNet (HR)</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://drive.google.com/file/d/1eUe3zGf-cx1dle3N0U0am7Gm8aT2hT5R/view" target="_blank">India Holidays</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/file/d/1b3JqPK7DcZHIn6LRPqwwlM2hQqhchSAU/view" target="_blank">North America Holidays</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- Sales & Marketing -->
    
          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Sales & Marketing &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://conseroglobal.com/resources/consero-offers-finance-accounting-expertise-for-every-stage-of-your-company/" target="_blank">Consero Offering 3 minute Video</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/u/0/folders/1yVBMeMVJ4WwNuwRhkR0YNYlCC7WZdq9Q" target="_blank">Assessment Documentation</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/u/0/folders/1a8JLjpAmA2rx_yu7yE_eiUHAUYMeIIAR" target="_blank">Branding Template</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/u/0/folders/1oHNEaFoKBcIp04PyZzZIqvmiMsQPCJWQ" target="_blank">Client Contracts</a></li>
                  <li><a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1ftIFkO3wE4VnwPOAclX16OLDFXfkWBoC/edit#gid=1757520638" target="_blank">Quote Rates</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- US Admin -->
    
          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">US Admin &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://drive.google.com/file/d/1eCwZQlH2QiZ0_oZbSbJdOeZFs9ZpTKAW/view" target="_blank">Meeting Cadence-Client Services</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/file/d/1JMPupucvAmO_M9HGguOsLjVavy9FQsqW/view" target="_blank">Acronyms</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- Product -->
    
          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Product &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSf9INw35Gkr4QNUmf7uN0t0m37GqH1-Ssvhc4bRG0w4BICRTg/viewform" target="_blank">Product Request Form</a></li>
                  <li><a class="dropdown-item" href="https://drive.google.com/drive/u/0/folders/1PisiFxWv0UPQtkyRplvxdoRaKHSVaWHY" target="_blank">Product Fact Sheet</a></li>
                </ul>
              </li>
            </ul>
          </li>
          </ul>
      </div> 
     </div>
    </div>
   