
<div class="container"  style="font-weight: bold;" id="linkssection">
  <div class="row">
    <div class="Internet" >
      <h4 style="color: #00A3E0; ">Internet/G-Drive/One-Drive</h4>
      <ul class="list-unstyled" >
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu1', true)" (mouseleave)="toggleSubmenu('submenu1', false)">
          <a class="dropdown-item" href="#">Consero General Quick Link &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu1']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Internet &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" target="_blank">Consero Global</a></li>
                <li><a class="dropdown-item" href="#" target="_blank">SIMPL</a></li>
                <li><a class="dropdown-item" href="#" target="_blank">Nexonia T&E</a></li>
                <li><a class="dropdown-item" href="#" target="_blank">Chorus</a></li>
                <li><a class="dropdown-item" href="#" target="_blank">Sales Force</a></li>
                <li><a class="dropdown-item" href="#" target="_blank">Khorus</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#" target="_blank">G-Drive &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" target="_blank">G-Drive</a></li>
              </ul>
            </li>
          </ul>
        </li>
           <!-- Delivery -->
           <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Delivery &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">Blackline</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Client Success Survey</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">Monthly KPIs</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Overage Billings</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">SOC reports-Consero</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">SOC Reports-Client Tools</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Standards/Policies/Procedures</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Tech Accounting Documentation</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">VPF Budget Calculator</a></li>
                </ul>
              </li>
            </ul>
          </li>
      
    
          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Professional Service Group &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">Bill.com API Site</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Intact API Site</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Intact Market Place</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Training1: One view Navigating Power BI</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Training2:One View Report Content</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">G-Drive File Index</a></li>
                  <!-- <li><a class="dropdown-item" href="#">Link2</a></li> -->
                </ul>
              </li>
            </ul>
          </li>
    
          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Human Resources &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">TriNet (HR)</a></li>
                  <!-- <li><a class="dropdown-item" href="#">Link2</a></li> -->
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">India Holidays</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">North America Holidays</a></li>
                </ul>
              </li>
            </ul>
          </li>
    
          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Sales & Marketing &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">Consero Offering 3 minute Video</a></li>
                  <!-- <li><a class="dropdown-item" href="#">Consero Global Site, with Video</a></li> -->
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">Assessment Documentation</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Branding Template</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Client Contracts</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Quote Rates</a></li>
                </ul>
              </li>
            </ul>
          </li>
    
          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">US Admin &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <!-- <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link1</a></li>
                  <li><a class="dropdown-item" href="#">Link2</a></li>
                </ul>
              </li> -->
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">Meeting Cadence-Client Services</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Acronyms</a></li>
                </ul>
              </li>
            </ul>
          </li>
    
          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
            <a class="dropdown-item" href="#">Product &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
              <!-- <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link1</a></li>
                  <li><a class="dropdown-item" href="#">Link2</a></li>
                </ul>
              </li> -->
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" target="_blank">Product Request Form</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Product Fact Sheet</a></li>
                </ul>
              </li>
            </ul>
          </li>
          </ul>
      </div> 
      <!-- App -->
     </div>
    </div>
   