<div class="container" style="font-weight: bold;"  id="linkssection">
  <div class="row">
<div class="App" >
    <h4 style="color: #00A3E0;">App</h4>
    <ul class="list-unstyled">
      <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu1', true)" (mouseleave)="toggleSubmenu('submenu1', false)">
        <a class="dropdown-item" href="#">Consero General Quick Link &raquo;</a>
        <ul class="dropdown-menu" *ngIf="submenuOpen['submenu1']">
          <li class="dropdown-submenu">
            <a class="dropdown-item" href="#">SS &raquo;</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">North America support Request form</a></li>
              <li><a class="dropdown-item" href="#">Smartsheet</a></li>
              <li><a class="dropdown-item" href="#">Smartsheet User Dashboard</a></li>
              <li><a class="dropdown-item" href="#">LO submission Form - Dynamic View (LO View), Read Me Document (Google Drive )</a></li>
            </ul>
          </li>
        </ul>
      </li>
         <!-- Delivery -->
         <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Delivery &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SS &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Client Feedback Submission</a></li>
                <li><a class="dropdown-item" href="#">Client Listing - View only</a></li>
                <li><a class="dropdown-item" href="#">Escalation Feedback - Dynamic View</a></li>
                <li><a class="dropdown-item" href="#">Controller Assignments</a></li>
                <li><a class="dropdown-item" href="#">VPF Assignments</a></li>
              </ul>
            </li>
          </ul>
        </li>
    
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Professional Service Group &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SS&raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">OneView Portal (View Only)</a></li>
                <li><a class="dropdown-item" href="#">Client Maintenance - Dynamic View</a></li>
                <li><a class="dropdown-item" href="#">Resource Assignments - Dynamic View</a></li>
              </ul>
            </li>
          </ul>
        </li>
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Human Resources &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SS &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">TriNet (HR)</a></li>
                <!-- <li><a class="dropdown-item" href="#">Link2</a></li> -->
              </ul>
            </li>
          </ul>
        </li>
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Sales & Marketing &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SS &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Assessment Ticket Status -Dynamic View</a></li>
                <li><a class="dropdown-item" href="#">PE Firm Client listing (updated Monday) - View Only</a></li>
                <li><a class="dropdown-item" href="#">Sales exec task submit form</a></li>
                <li><a class="dropdown-item" href="#">Sales Referral</a></li>
              </ul>
            </li>
          </ul>
        </li>
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">US Admin &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SS &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Secured File Share form</a></li>
              </ul>
            </li>
          </ul>
        </li>
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Product &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SS &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Product Release Notes - Dynamic View</a></li>
                <li><a class="dropdown-item" href="#">Product Solutions Roadmap - Dynamic View</a></li>
              </ul>
            </li>
          </ul>
        </li>
        </ul>
      </div>
    </div> 
  </div>