<div class="container" style="font-weight: bold;"  id="linkssection">
  <div class="row">
<div class="App" >
    <h4 style="color: #00A3E0;">Apps</h4>
    <ul class="list-unstyled">
      <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu1', true)" (mouseleave)="toggleSubmenu('submenu1', false)">
        <a class="dropdown-item" href="#">Consero General Quick Link &raquo;</a>
        <ul class="dropdown-menu" *ngIf="submenuOpen['submenu1']">
          <li class="dropdown-submenu">
            <a class="dropdown-item" href="#">SmartSheet &raquo;</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">North America support Request form</a></li>
              <li><a class="dropdown-item" href="#">Smartsheet</a></li>
              <li><a class="dropdown-item" href="#">Smartsheet User Dashboard</a></li>
              <li><a class="dropdown-item" href="#">LO submission Form</a></li>
            </ul>
          </li>
        </ul>
      </li>
         <!-- Delivery -->
         <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Delivery &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SmartSheet &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Client Feedback Submission</a></li>
                <li><a class="dropdown-item" href="#">Client Listing - View only</a></li>
                <li><a class="dropdown-item" href="#">Escalation Feedback - Dynamic View</a></li>
                <li><a class="dropdown-item" href="#">Controller Assignments</a></li>
                <li><a class="dropdown-item" href="#">VPF Assignments</a></li>
              </ul>
            </li>
          </ul>
        </li>
    
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Professional Service Group &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SmartSheet &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">OneView Portal (View Only)</a></li>
                <li><a class="dropdown-item" href="#">Client Maintenance - Dynamic View</a></li>
                <li><a class="dropdown-item" href="#">Resource Assignments - Dynamic View</a></li>
              </ul>
            </li>
          </ul>
        </li>
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Human Resources &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SmartSheet &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Employee Support Request</a></li>
                <li><a class="dropdown-item" href="#">Employee Offboarding</a></li>
              </ul>
            </li>
          </ul>
        </li>
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Sales & Marketing &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SmartSheet &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Assessment Ticket Status -Dynamic View</a></li>
                <li><a class="dropdown-item" href="#">PE Firm Client listing (updated Monday) - View Only</a></li>
                <li><a class="dropdown-item" href="#">Sales exec task submit form</a></li>
                <li><a class="dropdown-item" href="#">Sales Referral</a></li>
              </ul>
            </li>
          </ul>
        </li>
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">US Admin &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SmartSheet &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://conseroglobal.sharepoint.com/sites/NorthAmericaSupportRequestform1/_layouts/15/listforms.aspx?cid=NGY1ZDYwZGQtYTVkZC00YzI1LWE3OTEtY2MyZjQ4NjNhMTY4&nav=ZDM1ZjM4YmQtMTcyMi00Mjc4LWEzYTQtZTBiZTNlMjg4OTZk" target="_blank" >Secured File Share form</a></li>
                <!-- routerLink="/sharefs" -->
                <!-- href="https://conseroglobal.sharepoint.com/sites/SecuredFileShare/_layouts/15/listforms.aspx?cid=M2IxYWJkMWUtODlmMy00YTBlLThkMGItNTJlN2VjNDBmYmY4&nav=OWM2NTg0MmEtZGQ5Ny00NThlLTg1Y2MtZmI4ZmU0MmE5N2Y1"  -->
              </ul>
            </li>
          </ul>
        </li>
  
        <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
          <a class="dropdown-item" href="#">Product &raquo;</a>
          <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">SmartSheet &raquo;</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Product Release Notes - Dynamic View</a></li>
                <li><a class="dropdown-item" href="#">Product Solutions Roadmap - Dynamic View</a></li>
              </ul>
            </li>
          </ul>
        </li>
        </ul>
      </div>
    </div> 
  </div>